server:
  port: 8085
spring:
  application:
    name: getway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: user-service
          order: 1
          predicates:
            - Path=/users/**
          uri: http://localhost:8084
        - id: content-service
          order: 1
          predicates:
            - Path=/shares/**
          uri: http://localhost:8081
#    nacos:
#      discovery:
#        server-addr: localhost:8848
#      username: nacos
#      password: nacos